.stack-work/
.vscode/
.curry/
bin/kmcc-frontend
bin/kmcc_repl
bin/kmcc_c
bin/curry
*/.cpm/

*.lock
*.hi
*.hi-boot
*.o
*.o-boot

repl/src/KMCC/PkgConfig.curry
repl/src/Installation.curry

testing/Mainkmcc*
testing/XXX*
